BasedOnStyle: Google
IndentWidth: 2
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
SpacesBeforeTrailingComments: 2
SpaceBeforeParens: ControlStatements
