# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sh

# IDE Stuff
.idea/
.vscode/

# Build folders.
# This rule ignores any folder in the project root that contains "build"
/*build*/

.cache/
.cache
CMakeFiles
cmake-build-debug
#cmake
build/
.cmake/
output/

cmake_install.cmake
CMakeCache.txt
Testing
Makefile
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
# for now this is the executable
MolSim
#--------------------------------
# Build folders.
# This rule ignores any folder in the project root that contains "build"
# IMPORTANT ELSE 1 BILLION VTU FILES
*.vtu
*.xyz
.vtu

doxys_documentation/
coverage/
# spdlog
spdlog/
_deps

